extends base.pug 

block scripts
  script(src='../static/index.js')

block style 
    style 
      include ../static/style.css  

block content  
    section#about
        h1 About-Us
        p Our curriculum is unique as we have the flexibility to tailor the individual student’s program to achieve his or her goals while including the proper technique, choreography, and history of the genre while remaining age appropriate. TDA is unique because of our flexibility to work with each student based on their needs and what they want to achieve. Many schools are very rigid on what classes you have to take if you want to be in competition or to do a certain class.  TDA is much more flexible while still being able to produce great dancers.Our faculty and staff maintain a positive, stress-free atmosphere at all times that children feel included and enjoy themselves. We treat each student with respect and as an individual. In return, we expect students to show respect to every faculty and staff member. As part of their dance education, many students at The Dance Academy will have the opportunity to participate in some of the finest and most challenging dance competitions in the country through our TDA Dance Company.Our levels of education start with the Teenie-Bopper Division.   Around the age of six, a child enters our Main Dance Division. These classes are designed for beginners and students who view dance classes as a recreational activity.  For those students who are more serious, the Dance Academy offers an Intensive Division of classes.  Students who wish to enter this program must audition or have a recommendation from one of their dance instructors.  


    section#SponserSaction 
        h2 Our Sponsers
        div#sponsers
            img(src="../static/s1.png" class="S-img")
            img(src="../static/s2.png" class="S-img")
            img(src="../static/s3.png" class="S-img")
            img(src="../static/s4.png" class="S-img")     