extends base.pug 

block scripts
  script(src='../static/index.js')

block style 
    style 
      include ../static/style.css  

block content  
    section#services
        h1 Our-Services
        p We are a coveted firm engaged in serving our clients with traditional Folk Dance groups for weddings and other corporate & casual events. Well trained by our reputed choreographers, our folk dancers are appreciated to set the floor dancing to their tunes. We are widely known for our unique styles, charisma and passion.

    section#div
        h3 1.Private Dance Lessons
        p1 personalize each dance lesson based on your individual needs, desires, and goals, adjusting our teaching style to your ability, personality, and expectations. This ensures the most thorough and rapid learning process, all while keeping it fun, easy, and comfortable.

        h3 2.Group Dance Classes
        p1 Group dance classes are a fun way for adults to learn how to dance in a friendly social setting.Our dance classes are ideal for learning basic techniques and getting comfortable with the fundamentals of specific dance styles, from Salsa to Tango, and everything in between. We offer beginner, intermediate, and advanced levels to accommodate your dancing ability.

        h3 3.Dance Fitness
        p1 Our dance fitness classes are designed to work out your mid-section & back muscles, while strengthening the core section of your body. This helps improve overall balance and coordination. It combines salsa and aerobic movements to ensure that you burn fat away with the fun Latin dance movements of Mambo, Salsa, Merengue and Bachata.

        h3 4.Wedding Dance Lessons
        p1 At Dance With Me, we know how special your first dance as a married couple is. Our dance instructors can make sure you are prepared for this unforgettable moment with wedding dance choreography designed just for you. As masters of choreography, we customize memorable and impressive dance routines to the music and dance style of your choice.

        h3 5.Employee Wellness
        p1 In addition to hosting events at our beautiful dance studios, we can bring our services to a location of your choice. Each event is fully customizable based on your specific needs. We can develop a memorable and unique corporate team-building experience, with all amenities included. 

    section#SponserSaction 
        h2 Our Sponsers
        div#sponsers
            img(src="../static/s1.png" class="S-img")
            img(src="../static/s2.png" class="S-img")
            img(src="../static/s3.png" class="S-img")
            img(src="../static/s4.png" class="S-img") 